<%= form_for(grow, html: { multipart: true }) do |f| %>
  <% if grow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grow.errors.count, "error") %> prohibited this grow from being saved:</h2>

      <ul>
      <% grow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <span class="picture">
    <%= f.file_field :picture %>
  </span>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
