<p id="notice"><%= notice %></p>

<h1>Grows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grows.each do |grow| %>
      <tr>
        <td><%= grow.name %></td>
        <td><%= grow.user_id %></td>
        <td><%= grow.created_at %></td>
        <td><%= grow.updated_at %></td>
        <td><%= grow.deleted_at %></td>
        <td><%= link_to 'Show', grow %></td>
        <td><%= link_to 'Edit', edit_grow_path(grow) %></td>
        <td><%= link_to 'Destroy', grow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grow', new_grow_path %>
