<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="center jumbotron" style="background-image: url('<%= @grow.picture if @grow.picture? %>')">
  <h1><%= @grow.name.titleize %></h1>
</div>

<div class="row">
  <div class="col-md-9">
    <h3>Welcome to <%= @grow.name.titleize %></h3>
  </div>
  <div class="col-md-3">
    <%= link_to 'Edit', edit_grow_path(@grow) %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>Rooms</h4>
    <div class="chart" data-percent="<%= @grow.rooms.count %>" data-scale-color="#ffb400"><%= @grow.rooms.count %></div>
  </div>
  <div class="col-md-3">
    <h4>Plants</h4>
    <div class="chart" data-percent="<%= @grow.plants.count %>" data-scale-color="#ffb400"><%= @grow.plants.count %></div>
  </div>
  <div class="col-md-3">
    <h4>Strains</h4>
    <div class="chart" data-percent="<%= @grow.strains.count %>" data-scale-color="#ffb400"><%= @grow.strains.count %></div>
  </div>
  <div class="col-md-3">
    <h4>Strains</h4>
    <div class="chart" data-percent="<%= @grow.strains.count %>" data-scale-color="#ffb400"><%= @grow.strains.count %></div>
  </div>
</div>
<hr>
<div class="row">
  <h2>Rooms</h2>


  <ul class="col-md-12 grows">
    <% @grow.rooms.each do |room| %>
        <%= link_to room do %>
            <li class="col-md-12 room" style="background-image: url('<%= room.picture.url if room.picture? %>')">
              <p>Name: <%=  room.name.titleize %></p>
              <p>Plants: <%= room.plants.count %></p>
            </li>
        <% end %>
    <% end %>
  </ul>

</div>

<script>
    $(function() {
        $('.chart').easyPieChart({
            lineWidth:8,
            scaleLength:0
        });
    });
</script>
