<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grow.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @grow.user_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @grow.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @grow.updated_at %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @grow.deleted_at %>
</p>

<%= link_to 'Edit', edit_grow_path(@grow) %> |
<%= link_to 'Back', grows_path %>
